blinker
certifi
charset-normalizer
click
colorama
Flask
gunicorn
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
pluggy
pytest
python-dateutil
pytz
requests
six
tzdata
urllib3
Werkzeug
